$primary-purple:#AC7088;
$dark-gray:#2C2C2C;
$soft-blue:#7A91A7;
$soft-grey:#9F9F9F;
$olive-green:#769C58;
$virgin-olive-green:#94B49F;
$white:#ffff;
$swiper-bullet:#7A91A759;
$swiper-bullet-active:#7A91A7;